.createTrainee{
    background-color: white;
    margin-top:5%;
    border-radius: 4px;
    
}

.createTraineeForm{
    height: 80%;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 5%;
    padding-bottom: 5%;
}

.DayPickerInput-Overlay {
    top: -332px;
}

.title{
    margin-left: 5%;
}

.text-input-fields {
    width: 55%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#createTraineeBtn {
	background-color: #004050;
    width: 40%;
    border: 1px solid #004050;
}

#createTraineeBtn:hover {
    background-color: white;
    color: #004050;
    border: 1px solid #004050;
}