.createTrainee{
    background-color: white;
    margin-top:5%;
    border-radius: 4px;
    
}

.createTraineeForm{
    height: 80%;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 5%;
    padding-bottom: 5%;
}

.DayPickerInput-Overlay {
    top: -332px;
}

.title{
    margin-left: 5%;
}

.text-input-fields {
    width: 35%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#updateBtn {
	background-color: #004050;
	width: 40%;
	margin-left: 30%;
}

#updateBtn:hover {
	opacity: 0.6;
}