.createTrainee{
    background-color: white;
    margin-top:5%;
    border-radius: 4px;
    
}

.createTraineeForm{
    height: 80%;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 5%;
    padding-bottom: 5%;
}

.DayPickerInput-Overlay {
    top: -332px;
}

.title{
    margin-left: 5%;
}