.changePassword{
    background-color: white;
    margin-top:5%;
    border-radius: 4px;
    width:80%;
    margin-left:auto;
    margin-right: auto;
}

.changeForm{
    height: 80%;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 5%;
    padding-bottom: 5%;
}