.changePassword{
    background-color: white;
    margin-top:5%;
    border-radius: 4px;
    width:80%;
    margin-left:auto;
    margin-right: auto;
}

.changeForm{
    height: 80%;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 5%;
    padding-bottom: 5%;
}

.resetPassword{
    background-color: white;
    margin-top:5%;
    border-radius: 4px;
    width:80%;
    margin-left:auto;
    margin-right: auto;
}

.resetPassword p {
    text-align: center;
}
.form-group {
    width: 40%;
}

#updatePasswordBtn {
	background-color: #004050;
    width: 50%;
    border: 1px solid #004050;
}

#updatePasswordBtn:hover {
	background-color: white;
    color: #004050;
    border: 1px solid #004050;
}