.edit-form{
	background-color:white;
	width:80%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 4px;
}

.QATable{
	margin-top: 5%;
}

.form-group{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.all-edit-box{
	padding-top:5%;
	padding-bottom:5%;
}

#bursaryDates{
    height: 1%;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 1%;
    padding-bottom: 1%;
} 

#WorkingDays{
	height: 1%;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 1%;
    padding-bottom: 1%;
}

#updateBtn {
	background-color: #004050;
	width: 40%;
	margin-left: 30%;
}

#updateBtn:hover {
	opacity: 0.6;
}

#accountnumber {
	width: 15%;
}

#sortcode {
	width:15%;
}

#sortImg{
	float: right;
	padding-top: 2%;
	padding-right: 80%; 
}

#accountImg{
		float: right;
		padding-top: 2%;
		padding-right: 80%; 
}