.edit-form{
	background-color:white;
	width:80%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 4px;
}

.QATable{
	margin-top: 5%;
}

.form-group{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.all-edit-box{
	padding-top:5%;
	padding-bottom:5%;
}

#bursaryDates{
    height: 1%;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 1%;
    padding-bottom: 1%;
}