.edit-form{
	background-color:white;
	width:80%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 4px;
}

.QATable{
	margin-top: 5%;
}

.form-group{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.gSTitle{
	margin: auto;
	font-family: "Roboto", sans-serif;
	font-size: 40px;
	box-shadow: 5px 10px #c6e4ff;
	border-radius: 5px;
	width: 50%;
	
}

#gS{
	background-color: #c6e4ff; 
	padding: 20px;
	border-left: solid 5px #457581;
	border-top: solid 5px #457581;
	border-right: solid 5px #457581;
}

.gSLabel{
	font-family: "Roboto", sans-serif;
	font-size: 25px;
}

#gSInput{
	font-family: "Roboto", sans-serif;
	font-size: 20px;
	width: 75px;
}

.all-edit-box{
	padding-top:5%;
	padding-bottom:5%;
	text-align: center;
}

#bursaryDates{
    height: 1%;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 1%;
    padding-bottom: 1%;
} 

#WorkingDays{
	height: 1%;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 1%;
    padding-bottom: 1%;
}

.updateBtn {
	font-family: "Roboto", sans-serif;
	font-size: 20px;
	border:1px solid #457581;
	background-color: #457581;
	opacity: 0.65;
	color: white;
	border-radius: 0.25rem;
	opacity: 0.8;
	margin-left: 10px;
	
}

.updateBtn:hover {
	opacity: 1;
	background-color: white;
	color: #457581;
}
#updateBtn:hover {
	background-color: white;
	color: #004050;
	border: 1px solid #004050;
}

#accountnumber {
	width: 100%;
}

#sortcode {
	width: 100%;
}

.validated-field-container {
	display: inline-flex;
	min-width: 40%;
	justify-content: center;
}

#accountImg {
	min-width: 48px;
	visibility: hidden;
}

#sortImg {
	min-width: 48px;
	visibility: hidden;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}