
.QAtable{
    margin: 0 auto;
    background-color: white;
    border-radius: 4px;
}

.historyTable{
    margin: 0 auto;
    background-color: white;
    border-radius: 4px;
}

.BigBox{
    padding-top: 5%;
    width: 60%;
    margin-left: auto;
    margin-right: auto;   
}

h2{
    text-align:center;
}

.logTable{
    overflow: scroll;
}


.QAtable td{white-space:nowrap;}

#createExpenseBtn {
	background-color: #004050;
    width: 40%;
    border: 1px solid #004050;
}

#createExpenseBtn:hover {
    background-color: white;
    color: #004050;
    border: 1px solid #004050;
}

#OtherInput{
    margin-right: 28%;
    float: right;
    padding-top: 2%;
    padding-bottom: 2%;
}