
.QAtable{
    margin: 0 auto;
    background-color: white;
    border-radius: 4px;
    width:80%;
}

#addUser{
    float:right;
    padding: 5px;
}

.link{
    color: white;
    text-decoration: none;
}
.link:hover {
    color:white;
    text-decoration: none;
}

#addUser .qabtn{
    background-color: #457581;
    opacity: 0.8;
    border-radius: 4px;
    text-decoration: none;
    border:none;
    color: white;
    margin-right: 10px;
}

#addUser .qabtn :hover{
    opacity: 0.6;
}

.modal-content{
    width: -70%;
}

.action{
    width:150px;
}

.bigBox{
    margin-top: 5%;
}

.filter{
    margin: 0.35%;
}
.filter-btn{
    border:1px solid transparent;
    background-color: #004050;
    opacity: 0.65;
    color: white;
    border-radius: 0.25rem;
    margin-left: 0.3%;
}
.filter-btn:hover{
    opacity: 0.8;
}

.mod-body{
    text-align: center;
    margin-right: 6%;
}
.resetBtn{
    border:1px solid transparent;
    background-color: #004050;
    opacity: 0.65;
    color: white;
    border-radius: 0.25rem;
}

#email a{
    text-decoration: none;
}

.actionBtn{
    border:1px solid transparent;
    background-color: #004050;
    opacity: 0.65;
    color: white;
    border-radius: 0.25rem;
    opacity: 0.8;
}

.actionBtn:hover{
    opacity: 1;
}

.trainees:hover{
	cursor: pointer;
}