#top-nav-bar li {
    display: inline;
    color:black;
    text-decoration:none;
}
#top-nav-bar li :hover {
    color:white;
    text-decoration:none;
}

.sidebar_btn{
    background-color: #f8f9fb;
    display: inline;
    font-size: 20px;
    padding: 20px;
    margin-left: 10px;
    border-radius: 10px;
    color:black;
}
.sidebar_btn:a{
    color:white;

}
.sidebar_btn:hover{
    background-color:#004050;
    color:white;
}