.ReactTable .rt-tbody{
    overflow: overlay;
    }

#cRTitle{
	font-family: "Roboto", sans-serif;
	margin-left: 0px;
	border-bottom: solid 5px black;
}

.cRStatus{
	border-radius: 5px;
}

.cRButton{
	border:1px solid #457581;
	background-color: #457581;
	opacity: 0.65;
	color: white;
	border-radius: 0.25rem;
	opacity: 0.8;
	margin-left: 10px;
}

.cRButton:hover{
	opacity: 1;
	background-color: white;
	color: #457581;
}

#individual {
	margin-left: 1%;
}

.-striped.-highlight>div:nth-child(1)>div:nth-child(2)>div:nth-child(odd) {
	
	background-color: #eaf3ff;
}

