.system_wrapper{
	margin: 0 auto;
    background-color: #f8f9fa;
    border-radius: 4px;
    width:50%;
	height:750px;
	margin-top: 5%;
}
.system_body iframe{
	width:90%;
	height:650px;
	padding:1%;
	margin-left:5%;
	background-color:aliceBlue;
	margin-top:2%;
}

.system_wrapper button,textareabutton{
	margin-top:2%;
	float:right;
	margin-right:2%;
	background-color:#5a6268;
	color:white;
}